<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Reddit</a>
    </div>
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
     <!--  <li class="active"><a href="#">Home</a></li> -->
      <li class="active"><%= link_to 'Submit_link', new_link_path %></li>
      <li><%= link_to 'Account', edit_user_registration_path %></li>
      <li><%= link_to "Sign_out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Sign in',new_user_session_path %></li>
    </ul>
    <% end %>

    <% flash.each do |name,msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
  </div>
</nav>


  	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>
  </body>
</html>
